<h1><%= @question.deck.title %></h1>
<h3><%= @question.question  %></h3>
<% @question.options.each do |option| %>
  <div class="card">
    <button>
      <%= option.response %>
    </button>
  </div>
<% end %>
