<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="home-page">

  <nav class="navbar bg-white border-bottom">
    <div class="container">

      <a href="#" class="navbar-brand">
        Trivia Decks
      </a>

      <div>
        <a href="#" class="btn btn-outline-success">
          Log in
        </a>

        <a href="#" class="btn btn-success">
          Sign up
        </a>
      </div>

    </div>
  </nav>


  <main class="container">

    <div class="home-intro">
      <h1>Search for Decks!</h1>

      <p>
        Choose a sports trivia deck and start playing.
      </p>

      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Search for a deck"
        >

        <button class="btn btn-success">
          Search
        </button>
      </div>
    </div>


    <div class="trending-section">

      <h2>Trending Decks</h2>

      <div class="row">

        <div class="col-12 col-md-6">
          <div class="deck-card">

            <div class="deck-image">
              🏀
            </div>

            <div class="deck-content">
              <h3>Basketball</h3>
              <p>20 questions</p>
            </div>

          </div>
        </div>


        <div class="col-12 col-md-6">
          <div class="deck-card">

            <div class="deck-image">
              🎾
            </div>

            <div class="deck-content">
              <h3>Tennis</h3>
              <p>15 questions</p>
            </div>

          </div>
        </div>


        <div class="col-12 col-md-6">
          <div class="deck-card">

            <div class="deck-image">
              ⚽
            </div>

            <div class="deck-content">
              <h3>Soccer</h3>
              <p>25 questions</p>
            </div>

          </div>
        </div>


        <div class="col-12 col-md-6">
          <div class="deck-card">

            <div class="deck-image">
              🏉
            </div>

            <div class="deck-content">
              <h3>Rugby</h3>
              <p>18 questions</p>
            </div>

          </div>
        </div>

      </div>

    </div>

  </main>

</div>
