<div class="home-page">

  <nav class="navbar bg-white border-bottom">
    <div class="container">

      <a href="#" class="navbar-brand">
        Trivia Decks
      </a>

      <a href="#" class="btn btn-success">
        End Game
      </a>

    </div>
  </nav>

  <main class="container">

    <div class="question-heading">
      <h1>
        Who scored for France in the 2006 FIFA World Cup Semi Final against Brazil?
      </h1>
    </div>

    <div class="answers">

      <div class="card-product">
        <div class="card-product-body">
          <p class="answer">
            Thierry Henry
          </p>
        </div>
      </div>

      <div class="card-product">
        <div class="card-product-body">
          <p class="answer">
            Frank Ribery
          </p>
        </div>
      </div>

      <div class="card-product">
        <div class="card-product-body">
          <p class="answer">
            Kylian Mbappe
          </p>
        </div>
      </div>

      <div class="card-product">
        <div class="card-product-body">
          <p class="answer">
            Zinedine Zidane
          </p>
        </div>
      </div>

    </div>

  </main>

</div>
